.ipynb_checkpoints/
__pycache__/

# ignore individual counts files 
analysis/01_create_RBP_ML_input/1_get_expression_from_BAMs/output/
analysis/01_create_RBP_ML_input/1_get_expression_from_BAMs/SLURM_output/

# ignore normalized counts matrices
analysis/01_create_RBP_ML_input/2_normalize_raw_counts_matrices/outputs/

# ignore the large data and SLURM output from creating the pre-cursor to the input ML data
analysis/01_create_RBP_ML_input/4_create_num_peaks_ML_input/final_modeling_input_datasets/
analysis/01_create_RBP_ML_input/4_create_num_peaks_ML_input/output/
analysis/01_create_RBP_ML_input/4_create_num_peaks_ML_input/SLURM_output/

# ignore cache files 
*.feather

# ignore SLURM output
SLURM_logs/

# ignore weights & biases output
wandb/

# ignore ols regression matrices
analysis/6_ayan_rbp_ppi/output/ppi/ols_lin_reg_ppi_results/all_term/prediction_matrices/

# ignore SHAP analysis outputs that are larger than 100MB
local_SHAP_cv.pkl.gz
local_SHAP_std.pkl.gz

# ignore model variation rapid testing side project
miscellaneous_analysis/08_model_variation_rapid_testing/*
# all bound local shap values 
position_3_4_activating_others_repressing/

# expected values from SHAP interaction value generation jobs
analysis/07_second_order_SHAP_analysis/1_generate_shap_interaction_values/outputs/expected_values